.layout {
  height: var(--view-height);
}

.main {
  height: calc(var(--view-height) - var(--header-bar));
  overflow: hidden;
}

.sider {
  width: 200px;
  height: 100%;
  overflow-y: auto;
}

.content {
  height: 100%;
}
